
<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать</title>

</head>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid mt-5 content animate__animated" id="main-content">
        <h1 class="display-3 text-center mb-4">Добро пожаловать на сайт "Ювелир"!</h1>
        <div class="slider-container slider-content">
            <div class="jumbotron">
                <img style="width: 100%;height: 300px;display: block;margin: 0 auto;" src="{% static 'images/uvelir.png' %}"
                     alt="main photo" class="rounded mx-auto d-block">
                <p class="lead" style="font-size: 24px">
                    Компания "Ювелир" - это ювелирная компания, основанная с целью создания уникальных и изысканных украшений,
                    которые подчеркнут индивидуальность и стиль каждого клиента. Компания стремится предоставить высочайшее качество изделий
                    и предложить клиентам неповторимый опыт в мире ювелирных украшений.
                </p>
                <h2 style="font-size: 40px">Наши ценности:</h2>
                <ul style="font-size: 20px">
                    <li><strong>Исключительность и Уникальность:</strong> "Ювелир" уделяет особое внимание созданию украшений, которые
                        выделяются своей уникальностью. Каждое изделие является произведением искусства, выполненным вручную с использованием лучших материалов.
                    </li>
                    <li><strong>Искусство и Качество:</strong> Компания представляет собой сочетание мастерства и технологии. "Ювелир" стремится
                        к безупречному качеству своих изделий, поощряя искусство ювелирного дела и поддерживая традиции.
                    </li>
                    <li><strong>Индивидуальный Подход:</strong> Каждый клиент для "Ювелира" - уникальная личность, и компания гордится способностью предлагать
                        индивидуальные решения и персонализированный сервис.
                        Каждое украшение создается с учетом индивидуальных предпочтений и стиля заказчика.
                    </li>
                    <li><strong>Социальная Ответственность: </strong>  "Ювелир" придерживается высоких стандартов социальной ответственности. Компания стремится
                        использовать экологически чистые материалы и поддерживать справедливые трудовые практики во всех аспектах своей деятельности.
                    </li>
                    <li><strong>Инновации и Технологии:</strong>  "Ювелир" постоянно ищет новые технологии и инновационные методы в ювелирном искусстве. Компания
                        активно внедряет современные технологии для улучшения производственных процессов и создания удивительных дизайнов.
                    </li>
                </ul>
                <div class="footer-container">
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>